html, body {
    height: 100%;
}

img {
    max-width: 100%;
    min-width: 12rem;
}

#cover {
    background: #222 url("img/stars.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.form-inline {
    align-items: center;
    align-content: center;
}

.carousel-item {
    height: 100vh;
}

#what-we-do {

}

.card{
    border: none;
}

.section-content {
    padding: 5rem 0;
}

#about{
    height: 100vh;
    background: url('img/lake.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

.card-columns{
    max-width: 100%;
}

#footer-main {
    background: #222222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}



